@import '../../../styles/utils/_layout.scss';
@import '../../../styles/st-base/_colors.scss';

ul.accordion {
  width: 100%;

  li {
    width: 100%;

    header {
      padding: $padding-default;
      cursor: pointer;

      &:hover {
        background: $color-grey1;
      }

      table {
        tbody {
          tr {
            td {
              padding: $padding-default $padding-large;
              vertical-align: middle;
            }
          }
        }
      }

      .selector {
        float: right;
        transition: all 0.2s ease-in-out;
      }
    }

    section {
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      padding: 0 $padding-default;
      box-sizing: border-box;
    }

    &.open {
      background: $color-grey0;

      header {
        .selector {
          transform: rotate(180deg);
        }
      }

      section {
        height: auto;
        padding: $padding-default;
      }
    }

    &:nth-of-type(2n) {
      // background: $color-grey0;
    }
  }
}