.btn-group {
  display: block;
  float: none;
  // clear: both;
  margin: $padding-default;

  &.right {
    text-align: right;
  }

  button, a {
    &.btn {
      color: $color-white;
      font-size: 17px;
      font-weight: bold;
      padding: 0.5625rem 1.5625rem;
      background: $color-btn-primary;
      border-radius: 8px;
      margin: $padding-default;
      display: inline-block;
      text-align: center;
    }
  }
}
