////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #116EEA;
$color-brand-dark: #0856AD;
$color-brand-light: #b3d4fc;
$color-brand-verylight: #F1F5FA;

$color-green: #01C270;
$color-green-yellow: #AECA0D;
$color-orange: #F3AE00;
$color-red: #F93D3D;

$color-white: rgb(255,255,255); //#ffffff
$color-grey0: rgb(250,250,250); //#fafafa
$color-grey1: rgb(245,245,245); //#f5f55f5
$color-grey2: rgb(238,238,238); //#eeeeee
$color-grey3: rgb(221,221,221); //#dddddd
$color-grey4: rgb(177,177,177); //#b1b1b1
$color-grey5: rgb(136,136,136); //#888888
$color-grey6: rgb(102,102,102); //#666666
$color-grey7: rgb(73,76,82); //#494C52
$color-grey8: rgb(54,57,62); //#36393e
$color-grey9: rgb(46,49,54); //#2e3136
$color-black: rgb(33,35,38); //#212326