////////////////////////////////////////////////////////////////////////////////////////
// GLOBAL MODAL STYLES

pre {
  background: #EEE;
  margin: $padding-large;
  padding: $padding-large;
  border-radius: $padding-default;
}
