////////////////////////////////////////////////////////////////////////////////////////
// TABLE VIEW

%table-view {
  @extend %flex-column;
  margin: calc-em(20px) 0;
  li {
    @extend %flex-row;
    height: calc-em(60px);
    border-bottom: 1px solid $color-grey2;
    margin-left: calc-em(20px);
    background-repeat: no-repeat;
    background-size: calc-em(8px) calc-em(12px);
    background-position: 95% center;
    text-align: left;
    p {
      flex: 1 1 auto;
      text-align: left;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
  %table-view-image {
    width: calc-em(32px);
    height: calc-em(32px);
    margin: calc-em(12px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

table {
  width: 100%;

  tr {
    transition: all 0.2s ease-in-out;

    th, td {
      padding: 10px;
      text-align: left;

      &.iconcell {
        max-width: $padding-xxlarge;
        $padding: 10px $padding-default
      }
    }

    th {
      font-weight: bold;
      color: $color-textfade;
    }

    &:hover {
      background: $color-grey1;
    }
  }

  &.compact {
    width: auto;

    tr {
      td, th {
        padding: $padding-default $padding-large;
      }
    }
  }
}
