////////////////////////////////////////////////////////////////////////////////////////
// TYPEFACES

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900);


$font-family-base: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;

////////////////////////////////////////////////////////////////////////////////////////
// FONT SIZES

%font-size-hero {
  font-size: calc-em(50px);
  line-height: calc-em(53px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(30px);
    line-height: calc-em(36px);
  }
}
%font-size-x-large {
  font-size: calc-em(30px);
  line-height: calc-em(36px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(28px);
    line-height: calc-em(38px);
  }
}
%font-size-large {
  font-size: calc-em(24px);
  line-height: calc-em(30px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(22px);
    line-height: calc-em(27px);
  }
}
%font-size-medium {
  font-size: calc-em(19px);
  line-height: calc-em(23px);
}

%font-size-default {
  font-size: calc-em(17px);
}
%font-size-small {
  font-size: calc-em(15px);
}
%font-size-tiny {
  font-size: calc-em(13px);
}

////////////////////////////////////////////////////////////////////////////////////////
// FONT STYLES

html, body {
  font-size: $font-size;
  line-height: 1.25;
  font-family: $font-family-base;
  font-weight: 400;
  word-wrap: break-word;
  color: $color-black;
}

h1 {
  @extend %font-size-x-large;
  font-weight: 400;
  hyphens: auto;
}
h2 {
  @extend %font-size-large;
  font-weight: 400;
  color: $color-grey5;
}
h3 {
  @extend %font-size-medium;
  font-weight: 700;
}
h4 {
  @extend %font-size-medium;
  font-weight: 700;
  color: $color-grey5;
}
h5 {
  @extend %font-size-default;
  font-weight: 700;
}
p {
  @extend %font-size-default;
  font-weight: 400;
}
small {
  @extend %font-size-small;
}

a {
  color: $color-brand;
  cursor: pointer;
  &:hover {
    color: $color-brand-dark;
    text-decoration: underline;
  }
  @include transition(all .2s);
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
button{
  font-family: $font-family-base;
  cursor: pointer;
}
textarea, input{
  font-family: $font-family-base;
}
%hide-text {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
::-moz-selection {
  background: $color-brand-light;
}
::selection {
  background: $color-brand-light;
}

////////////////////////////////////////////////////////////////////////////////////////
// MATERIAL ICONS

.material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;

  &.blue {
    color: $color-brand;
  }
}
