.admin {
  // Absolute so that individual scroll boxes can fill the space
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;

  .results-table {
    box-shadow: none;

    // List of resources
    &.summary {

      > * {
        border-right: 1px solid #DDD;
      }

      .resource-title {
        padding: $padding-default;
        cursor: pointer;

        header {
          margin: 0;
        }
      }

      h1.page-title {
        padding: calc-em(15px);
      }

      .results-table-entry {
        &.active {
          border-right: 0;
        }
      }
    }

    // Resource details with changeRequestss
    &.details {
      position: relative;
      max-width: 5000px;
      height: calc(100%);
      background: #EEE;
      overflow: auto;

      h2, h3, h4 {
        text-align: center;
        margin: auto;
      }

      .titlebox,
      .change-request-wrapper {
        background: #FFF;
        padding: $padding-default;
        // margin: 0 0 $padding-default;
        
        a {
          float: right;
         }

      }

      .change-request-wrapper {
        padding-left: 16px;
        // margin: $padding-default;
        // border-left: 0.4375rem solid #116EEA;

        .change-request {
          background: #EEE;
          margin: $padding-default 0;
          padding: 16px;

          .change-wrapper {
            margin: 16px 0 $padding-default;

            label {
              font-weight: bold;
              text-transform: capitalize;
              margin: 0 $padding-default;
              padding: $padding-default;

              sub {
                margin: 0 $padding-default;
                float: right;
                color: $color-textfade;
                line-height: 1.5;
              }
            }

            p.change-existing {
              padding: 0 16px $padding-default;
              color: crimson;
            }

            textarea {
              background: #FFF;
              border-radius: $padding-default;
            }
          }

        }

        .actions {
          text-align: right;
          margin: 16px $padding-default 0;

          button {
            margin-right: $padding-default;
          }
        }

        .changes {
          clear: both;
        }
      }
    }
  }
}
