.admin {
    .change-requests {
        width: 70%;
        margin: 0 auto;

        .group-container {
            padding-top: calc-em(15px);

            h1 {
                cursor: pointer;
                user-select: none;
                padding-bottom: calc-em(5px);
            }

            .expander {
                transition: 0.2s ease;

                &.collapsed {
                    transform: rotate(180deg);
                }
            }

            .group-content {
                transition: 0.2s ease;
                overflow: hidden;

                &.collapsed {
                    opacity: 0;
                    max-height: 0;
                }
            }
        }

        .request-container {
            // display: inline-block;
            display: flex;

            .change-log {
                width: 100%;
            }

            .request-fields {
                // float: left;
                display: table;
                width: 100%;
                border-collapse: collapse;
                vertical-align: top;
                margin-bottom: calc-em(10px);
                

                .request-entry {
                    display: table-row;
                    min-height: calc-em(50px);
                    border: 1px solid black;

                    .existing {
                        color: red;
                    }

                    .request-cell {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        padding: calc-em(10px);
                    }
                    textarea.request-cell {
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 100%;
                        font-size: 1.125rem;
                    }

                    .name {
                        width: 25%;
                        border-right: 1px solid black;
                    }

                    .value {
                        width: 75%;
                    }
                }
            }
        }
    }

    .actions {
        display: inline-block;
        float: right;
        .material-icons {
            display: inline-block;
            cursor: pointer;
            width: calc-em(24px);
        }
    }
}
