// All the component styles are imported

@import 'app';
@import 'categorypage';
@import 'footer';
@import 'header';
@import 'largeheader';
@import 'navigation';
@import 'resource';
@import 'resourcestable';
@import 'map';