//////////////////////////////////////////////////////////////////////////////////////////
// HOME PAGE CATEGORY LIST

.category-list {
  text-align: center;
  margin: calc-em(30px) auto;

  header {
    margin-bottom: calc-em(25px);
  }

  .category-items {
    @extend .flex-row-center;
    max-width: 90%;
    margin: 0 auto;
  }

  .category-item {
    width: calc-em(140px);
    height: calc-em(140px);
    border-radius: 4px;
    @include transition(all 200ms ease-in-out);
    &:hover {
      background: $color-light-grey;
    }
    @include r_max($screen-xs-min) {
      border: 1px solid $color-light-grey;
      width: 100%;
      height: calc-em(60px);
    }
  }

  .category-button {
    display: block;
    padding: calc-em(25px) 0;
    &:hover {
      text-decoration: none;
    }
    .category-button-icon {
      margin-bottom: calc-em(10px);
    }
    img {
      width: auto;
      height: calc-em(50px);
    }
    .category-button-title {
      word-break: keep-all;
      @include r_max($screen-xs-min) {
        display: inline-block;
        vertical-align: middle;
      }
    }
    @include r_max($screen-xs-min) {
      padding: calc-em(14px) calc-em(25px);
      text-align: left;
      .category-button-icon {
        margin: 0 calc-em(25px) 0 0;
        display: inline-block;
        width: calc-em(35px);
      }
      img {
        height: calc-em(30px);
      }
    }
  }
}

