
.category_root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  height: inherit;
  padding: 20px 0 40px;
  max-width: $max-content-width;
}

.category_shelterBox {
	max-width: $max-content-width;
	margin: 0 auto;
}

.category-name {
  text-align: center;
  float: left;
  width: 140px;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #191919;
}

.category_brand > img {
  display: block;
  margin: auto;
  height: 50px;
}

.category_title {
	background-color: $darcell-light-blue;
	color: #fff;
	padding: 10px 5px;
  margin: 0;
  width: 100%;
}

.category_option {
  margin-top: 20px;
  font-family: 'Open Sans';
  font-size: 16px;
  text-align: center;
  color: #191919;
}

.category_button {
  width: 100%;
  height: 60px;
  text-align: left;
}
.category_button_text {
  float: left;
}

.category_list {
	list-style-type: none;
	padding-left: 5px;
  margin: 0;
  line-height: 2.25em;
}

.browseCategoriesText {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #818181;
  margin-bottom: 20px;
}

.category_xs_text {
  text-align: left;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #191919;
}

.category_xs_button_image {
  height: 100%;
}

.category_xs_button_image > img {
  display: block;
  margin: auto;
  height: 50px;
}