//////////////////////////////////////////////////////////////////////////////////////////
// HOME PAGE CATEGORY LIST

.category-list {
  @extend %base-max-width;
  margin: calc-em(30px) auto;

  header {
    margin-bottom: calc-em(25px);
    @include r_max($break-tablet-s) {
      margin-bottom: calc-em(20px);
    }
  }
}

.category-items {
  @extend %flex-row;
  margin: 0 auto;
  @include r_max($break-tablet-s) {
    flex-direction: column;
    align-items: stretch;
  }
}

.category-item {
  @include transition(all 200ms ease-in-out);
  width: calc-em(140px);
  height: calc-em(140px);
  border: 1px solid $color-grey3;
  margin: 0 calc-em(10px) calc-em(10px) 0;
  &:active, &:hover, &:focus {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  }
  @include r_max($break-tablet-s) {
    width: 100%;
    height: calc-em(60px);
    margin: 0 0 calc-em(10px) 0;
  }
}

.category-button {
  display: block;
  padding: calc-em(25px) 0;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  @include r_max($break-tablet-s) {
    padding: calc-em(14px) calc-em(25px) calc-em(14px) calc-em(10px);
    text-align: left;
  }
}

.category-button-icon {
  margin-bottom: calc-em(10px);
  img {
    width: auto;
    height: calc-em(50px);
  }
  @include r_max($break-tablet-s) {
    margin: 0 calc-em(15px) 0 0;
    display: inline-block;
    width: calc-em(35px);
    text-align: center;
    img {
      height: calc-em(30px);
    }
  }
}

.category-button-title {
  word-break: keep-all;
  color: $color-grey5;
  font-weight: 400;
  @include r_max($break-tablet-s) {
    display: inline-block;
    vertical-align: middle;
  }
}