////////////////////////////////////////////////////////////////////////////////////////
// ADD/EDIT PAGE
.edit {
	width:100%;
  max-width: calc-em(1000px);
  padding: 0 calc-em(20px);
  margin: 0 auto;
  display: flex;
}

////////////////////////////////////////////////////////////////////////////////////////
// EDIT MAIN

.edit--main {
	width: calc-em(660px);
	border-right: 1px solid #ddd;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

.edit--main--header {
  position: fixed;
  background: #fff;
  padding: calc-em(35px) calc-em(30px) calc-em(30px) 0;
  width: 100%;
  max-width: calc-em(659px);
  z-index: 999;
  &--title {
		color: #333333;
		font-size: calc-em(30px);
		font-weight: bold;
		line-height: calc-em(36px);
		white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
}

////////////////////////////////////////////////////////////////////////////////////////
// EDIT ASIDE

.edit--aside {
	max-height: 100vh;
	padding: calc-em(30px) 0 0 calc-em(30px);
	width: 100%;
	max-width: 12em;
	&--content {
		position: fixed;
		width: 100%;
		max-width: 12em;
		&--button {
			color: #FFFFFF;
			font-size: 17px;
			font-weight: bold;
			padding: calc-em(9px) calc-em(25px);
			background: #1C72E6;
			border-radius: 8px;
      		width: 100%;
		}
	    &--deactivate{
			color: #FFFFFF;
			font-size: 17px;
			font-weight: bold;
			padding: calc-em(9px) calc-em(25px);
			background: #e6092c;
			border-radius: 8px;
			width: 100%;
		    margin-top: 10px;
	    }
		&--nav {
			margin: calc-em(30px) 0;
			ul {
				list-style-type: none;
				li {
					width: 100%;
					white-space: nowrap;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  margin-bottom: calc-em(10px);
				  &:last-of-type {
				  	margin-bottom: 0;
				  }

				  a {
				  	color: #333333;
				  	&:hover {
				  		color: #1C72E6;
				  	}
				  }
				}
			}
		}
	}
}

.cancel--button {
    margin-top: 10px;
    background: $color-grey5;
}


////////////////////////////////////////////////////////////////////////////////////////
// EDIT SECTION FORMS

.edit--sections {
	padding-top: calc-em(100px);
}

.edit--section {
  margin-bottom: calc-em(60px);
  &--header {
  	border-bottom: 1px solid #DDDDDD;
  	margin-bottom: calc-em(20px);
  	h4 {
  		display: inline-block;
			color: #1C72E6;
			font-size: calc-em(19px);
			font-weight: bold;
			padding-bottom: calc-em(10px);
			border-bottom: 3px solid #1C72E6;
		}
  }
}

.edit--section--list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&--item {
		margin: 0 calc-em(30px) calc-em(20px) 0;

		&:last-of-type {
			margin-bottom: 0;
		}

    &--collection-container{
      display: flex;
      & > .trash-button {
        background: #e6092c;
        & > i {
          margin-right: 0;
        }
      }
    }

		label {
			color: #888888;
			font-size: calc-em(19px);
			font-weight: bold;
			margin-bottom: calc-em(15px);
			display: block;
			button {
				margin-left: calc-em(10px);
				height: calc-em(38px);
				font-size: calc-em(15px);
				i {
					height: calc-em(18px);
					width: calc-em(18px);
					font-size: 18px;
					top: -1px;
				}
			}
		}

    &#service--deactivation {
      background: #e6092c;
      width: 100%;
    }

		.input {
			padding: calc-em(15px);
			width: 100%;
			border: 1px solid #DDDDDD;
			border-radius: 2px;
			background-color: #F2F2F2;
			font-size: calc-em(17px);
			color: #333333;
			margin-bottom: calc-em(10px);
		}

		input:not(last-of-type) {
			margin-right: calc-em(10px);
		}

		textarea {
			height: calc-em(200px);
      &:disabled {
        cursor: not-allowed;
      }
		}

		button {
			border-radius: 8px;
			background-color: #AAAAAA;
			color: #ffffff;
			padding: calc-em(10px) calc-em(12px);
			cursor: pointer;
			font-size: calc-em(17px);
			font-weight: 600;
			&:hover {
				background-color: darken(#AAAAAA, 20%);
			}

			i {
				margin-right: calc-em(8px);
			}
		}

		&--sublist .edit--section--list--item {
			margin-right: 0;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////
// EDIT HOURS

.hour-label {
  text-align: right;
}

.day-group {
  display: flex;
  margin-bottom: 20px;

  .hours {
    width: 85%;
  }

  .remove-time {
    position: absolute;
    right: 13px;
    height: 40px;
    background-color: white;
    color: black;
  }

  .add-time {
    width: 10%;
    align-self: flex-start;
    padding-left: 20px;
    margin-top: 8.5px;

    button {
      height: 40px;
    }
  }

  .is-24-hours {
    height: 40px;
    padding-left: 20px;
    input:not(:checked) {
      margin-top: 20px;
    }
  }
  .open-24-hours {
    width: 100%;
    text-align: center;
  }
}

.open-24-label {
  text-align: right;
  width: 103%;
}

.edit-hours-list {
  li {
    @extend %flex-row;
    align-items: center;
    margin-bottom: calc-em(10px);
    &:last-of-type {
    	margin-bottom: 0;
    }
    p {
      flex: 0 0 auto;
      width: calc-em(36px);
    }
    .open24 {
      flex: 1 1 auto;
    }
    div {
      align-items: center;
      display: flex;
      width: 100%;
    }
    input {
      flex: 1 1 auto;
      margin: 0;
      cursor: text;
      &:first-of-type {
        margin-right: calc-em(10px);
      }
      &[type=checkbox] {
        width: 35px;
        margin-left: 30px;
        float: right;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// EDIT NOTES

.edit--notes {
	ul li {
		display: flex;
		margin-bottom: calc-em(10px);
		label {
			width: calc-em(150px);
			color: #333333;
			flex-shrink: 0;
			font-size: calc-em(17px);
			font-weight: bold;
			padding-top: calc-em(15px);
		}
		textarea {
			height: calc-em(185px);
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////
// EDIT SERVICES

.edit--service {
	display: flex;
	flex-direction: column;
	margin-top: calc-em(60px);
}
