//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  @extend .base-max-width;
  color: $color-grey;
  text-align: center;
  padding: calc-em(25px) 0;
  a {
    color: $color-grey;
  }
  ul {
    display: inline-block;
    text-align: center;
    > li {
      text-align: left;
      display :inline-block;
      margin: calc-em(5px) calc-em(15px);
    }
  }
}
