//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  @extend %base-max-width;
  @extend %flex-row;
  color: $color-grey5;
  padding: calc-em(25px) 0;
  a {
    color: $color-grey5;
  }
  ul {
    display: inline-block;
    > li {
      text-align: left;
      display :inline-block;
      margin: 0 calc-em(15px) calc-em(10px) 0;
    }
  }
}
