//////////////////////////////////////////////////////////////////////////////////////////
// HERO

.header-large {
  .hero {
    width: 100%;
    height: calc-em(450px);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: calc-em(85px) 0;
    @include r_max($screen-xs-min) {
      height: calc-em(250px);
      padding: calc-em(30px);
    }
    h1 {
      @extend .h1-hero;
      text-align: center;
    }
  }
  .search-container {
    @extend .base-max-width;
    margin: calc-em(40px) auto 0;
    @include r_max($screen-xs-min) {
      width: 100%;
    }
  }
  input, button {
    height: calc-em(60px);
  }
  .location-field {
    max-width: calc-em(240px);
    background-repeat: no-repeat;
    background-image: url(../assets/images/ic-location.png);
    background-size: 18px 18px;
    background-position: calc-em(15px) center;
    padding-left: calc-em(40px);
    @include r_max($screen-xs-min) {
      display:none;
    }
  }
}
