
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700);
$brand-color: #61dafb;

@font-face {
    font-family: 'Fat Frank';
    src: url('../assets/fonts/FatFrank-Free.otf');
}


.largeheader_background {
  background-position: right;
}

#largeheader_content {
  height: inherit;
  margin-bottom: 40px;
}

#largeheader_searchbutton {
  color: white;
  background-color: #01c270;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand > img {
  width: 160px;
  padding-left: 15px;
}

.largeheader_centerText {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-family: 'Fat Frank';
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .largeheader_centerText {
        font-size: 24px;
    }
}

.largeheader_searchBox {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
