//////////////////////////////////////////////////////////////////////////////////////////
// ORGANIZATION PAGE STYLES

.org-container {
  background: $color-grey1;
  padding: 0;
  min-height: calc(100vh - #{$navigation-height});
  margin: #{$navigation-height} 0 calc-em(30px);
  @include r_max($break-tablet-s) {
    margin-top: 0;
    margin-bottom: #{$navigation-height};
    padding: 0;
  }
}

.org {
  background: $color-white;
}

//////////////////////////////////////////////////////////////////////////////////////////
// MAP STYLES

.org--map {
  background: $color-grey1;
  height: calc-em(250px);
  position: relative;
  @include r_max($break-tablet-s) {
    height: calc-em(200px);
  }

  .map_canvas {
    height: calc-em(250px);
    @include r_max($break-tablet-s) {
      height: calc-em(200px);
    }
  }

  .org-streetview {
		width: 100%;
		max-width: calc-em(1000px);
		margin: 0 auto;
		padding: 0 calc-em(20px);
		transform: translateY(-96px);
		&--img {
			@include aspect-ratio(1, 1);
		  width: calc-em(130px);
		  background: $color-grey2;
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG MAIN INFO

.org--main {
	width:100%;
  max-width: calc-em(1000px);
  padding: calc-em(20px);
  margin: calc-em(34px) auto 0;
  display: flex;
	&--left {
		width: calc-em(660px);
		border-right: 1px solid #ddd;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		align-content: stretch;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG HEADER

.org--main--header {
	&--title {
		@extend %font-size-x-large;
		color: #333333;
		font-weight: 600;
	}
	&--rating {
		margin-top: calc-em(10px);
	}
	&--hours {
		margin-top: calc-em(10px);
		color: #888888;
	}
	&--phone {
		margin-top: calc-em(5px);
		color: #888888;
	}
	&--description {
		margin-top: calc-em(20px);
		border-top: 1px solid #dddddd;
		padding-top: calc-em(20px);
		header {
			@extend %font-size-large;
			font-weight: 600;
			color: #888888;
		}
		p {
			margin-top: calc-em(10px);
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG SERVICES

.service--section {
  margin-top: calc-em(50px);
  &--header {
  	border-bottom: 1px solid #DDDDDD;
  	h4 {
  		@extend %font-size-medium;
  		display: inline-block;
			color: #1C72E6;
			font-weight: bold;
			padding-bottom: calc-em(10px);
			border-bottom: 3px solid #1C72E6;
		}
  }

  .service {
	margin-top: calc-em(30px);
	padding-top: calc-em(30px);
	border-top: 1px solid #DDDDDD;
	&:first-of-type {
		border-top: 0;
		margin-top: 0;
	}
	&--meta {
		display: flex;
		justify-content: space-between;
		margin-right: calc-em(60px);
		p {
			@extend %font-size-small;
			color: #888888;
		}
	}
	&--header {
		@extend %font-size-large;
		font-weight: 600;
		color: #333333;
	}
	&--description {
		margin-top: calc-em(15px);
	}
	&--details-toggle {
		margin-top: calc-em(20px);
		color: #1C72E6;
		cursor: pointer;
		i {
			transform: translateY(2px);
		}
	}
	&--details {
		margin-top: calc-em(40px);
		&--item {
			display: flex;
			margin-top: calc-em(20px);
			&:last-of-type {
				.service--details--item--info {
					border-bottom: 0;
				}
			}
			header {
				width: calc-em(130px);
				margin-right: calc-em(20px);
				color: #333333;
				font-weight: 600;
				flex-grow: 0;
				flex-shrink: 0;
			}
			&--info {
				flex-grow: 1;
				border-bottom: 1px solid #DDDDDD;
				padding: 0 calc-em(60px) calc-em(20px) 0;
			}
		}
	}
}
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG INFO

.info--section {
	margin-top: calc-em(50px);
	.info {
		margin-top: calc-em(30px);
		display: flex;
		width: calc-em(600px);
		flew-wrap: wrap;
		&--column {
			width: 50%;
			@include r_max($break-tablet-s) {
	      width: 100%;
	    }
	    > span {
	    	display: block;
	    	margin-top: calc-em(10px);
	    	&:first-of-type {
	    		margin-top: 0;
	    	}
	    }
		}
	}
}

.weekly-hours-list {
	&--item {
		display: flex;
		line-height: 1.5;
		&--day {
			width: calc-em(130px);
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////
// ORG ASIDE

.org--aside {
	max-height: 100vh;
	padding: 0 0 0 calc-em(30px);
	width: 100%;
	max-width: calc-em(240px);
	&--content {
		width: 100%;
		max-width: calc-em(240px);
		&--button {
			color: #FFFFFF;
			font-size: 17px;
			font-weight: bold;
			padding: calc-em(9px) calc-em(25px);
			background: #1C72E6;
			border-radius: 8px;
			margin-top: calc-em(10px);
			display: block;
			text-align: center;
			width: 100%;
			height: auto; // Unset global height for button tag name selector
			&-first-of-type {
				margin-top: 0;
			}
		}
		&--nav {
			margin: calc-em(30px) 0;
			ul {
				list-style-type: none;
				li {
					width: 100%;
					white-space: nowrap;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  margin-bottom: calc-em(10px);
				  &:last-of-type {
				  	margin-bottom: 0;
				  }

				  a {
				  	color: #333333;
				  	&:hover {
				  		color: #1C72E6;
				  	}
				  }
				}
				&.service--nav--list {
					list-style: disc;
					margin-left: 1em;
					list-style-position: inside;

					li {
						line-height: 1em;
					}
				}
			}
		}
	}
}
