//////////////////////////////////////////////////////////////////////////////////////////
// ORGANIZATION PAGE STYLES

.org-container {
  background: $color-light-grey;
  padding: calc-em(30px) 0;
  min-height: calc(100vh - #{$navigation-height});

  .org {
    width: 100%;
    max-width: $max-content-width;
    margin: 0 auto;
    @extend .cf;
    @include display(flex);
  }

  .main-column {
    width: 100%;
    max-width: calc-em(730px);
    @include flex(0 0 auto);
    margin: 0 calc-em(30px);
    @include r_max($screen-xs-min) {
      margin: 0;
    }
  }

  section {
    width: 100%;
    margin: 0 0 calc-em(30px);
    background: $color-white;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  }

  aside {
    @include flex(1 1 auto);
    margin-right: calc-em(30px);
    width: calc-em(350px);
    height: calc-em(300px);
    background: $color-white;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    @include r_max($screen-xs-min) {
      display: none;
    }
  }
}

.org {
  header {
    padding: calc-em(40px) calc-em(40px) calc-em(20px);
    @extend .cf;
    .org-img {
      float: left;
      margin-right: calc-em(20px);
      border-radius: 4px;
    }
    .org-info {
      float: left;
    }
    h1 {
      @extend .font-size-large;
      font-weight: 700;
    }
    h4 {
      @extend .font-size-default;
    }
  }
  .org-desc {
    padding: calc-em(20px) calc-em(40px);
    border-bottom: 1px solid $color-light-grey;
  }
  .org-details {
    padding: calc-em(20px) calc-em(40px) 0;
    border-bottom: 1px solid $color-light-grey;
    .material-icons {
      @extend .material-icons.blue;
    }
    a {
      color: $color-black;
    }
    li {
      margin-bottom: calc-em(20px);
      display: inline-block;
      width: 40%;
      p {
        display: inline;
        width: 90%;
        margin-left: calc-em(10px);
      }
    }
  }
  .current-hours {
    display: inline;
  }
  .rating-summary-container {
    background: $color-light-grey;
    padding: calc-em(10px) calc-em(40px);
  }
  .rating-summary {
    display: inline-block;
  }
  .rating-summary-details {
    display: inline-block;
    margin-left: calc-em(15px);
    a {
      color: $color-black;
    }
  }
  .org-actions {
    padding: calc-em(20px) calc-em(40px);
  }
}

.org-category {
  margin: 0 5px 0 0;
}

.org-map {
  padding: calc-em(10px);
}
.map-container {
  background: $color-light-grey;
  width: 100%;
  height: 100%;

  >div {
    height: 280px;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// SERVICES STYLES

.service {
  header {
    padding-top: calc-em(30px);
  }
}

.service-details {
  padding: 0 calc-em(40px) calc-em(30px);
  border-bottom: 1px solid $color-light-grey;
}

.service-application-process-container {
  padding: calc-em(30px) calc-em(40px);
  h5 {
    color: $color-brand;
    margin-bottom: calc-em(10px);
  }
  .service-application-process {
    margin-bottom: calc-em(20px);
  }
}

.service-table {
  .service-table-row {
    margin-bottom: calc-em(10px);
    p:first-of-type {
      font-weight: 600;
    }
  }
  p {
    @extend .font-size-small;
  }
}
