

.resource_container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.serviceinfo_section {
  margin: 0 0 10px 0;
}

.wrapper {
	margin: 10px 0 10px 0;
}

.doublelineicon {
	font-size: 28px;
	color: $color-brand;
	padding: 0 35px 15px 15px;
}

.infocontainer {
  width: 100%;
  border: solid 1px #e5e5e5;
  margin: 0 0 20px 0;
}

.innercontainer {
  margin: 0 10px 0 10px;
}

.center {
  margin: 10% 0;
}
.center > * {
  text-align: center;
  width: 100%;
  margin: 0;
}

.infocontainer > hr {
  margin: 0;
}

.communicationcontainer {
  border: solid 1px #dddddd;
  height: 64px;
  width: 188px;
  margin: 0 0 20px 0;
}

.communicationcontainer > div {
  display: inline-block;
  width: 50%;
}

.borderleft {
  border-right: 0;
}

.borderright {
  border-left: 0;
}

.communicationicon {
  font-size: 28px;
  color: $color-grey;
}

.communicationtext {
  font-size: 16px;
  display: block;
  color: $color-grey;
}

.infoicon {
	font-size: 28px;
	color: $color-brand;
	padding: 0 35px 0 15px;
}

.inactive {
  color: $color-grey;
}

.active {
  color: $color-brand;
}

.service_title {
  color: #4d8ffb;
  font-size: 14px;
}

.service_title:hover {
  cursor: pointer;
}

.servicecontainer {
  margin: 10px 0 15px 0;
}

.hidden {
  display: none;
}

.service_table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.service_row {
  display: table-row;
  border: solid 1px #dddddd;
}

.service_cell {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.service_cell > p,
.resource_editslabel {
  margin-left: 10px;
  margin-right: 10px;
}

.subjectcell {
  width: 20%;
}

.bordercontainer {
  width: 100%;
  border: solid 1px #dddddd;
}

.graybg {
  background-color: #f5f5f5;
}

.greenbg {
  background-color: #dff0d8;
}
