//////////////////////////////////////////////////////////////////////////////////////////
// RESOURCE TABLE STYLESs

.results {
  width: 100%;
  height: calc(100vh - #{$navigation-height});
  max-height: calc(100vh - #{$navigation-height});
  overflow: hidden;
  @include display(flex);

  .map {
    height: calc(100vh - #{$navigation-height});
    max-height: calc(100vh - #{$navigation-height});
    @include flex(1 1 auto);
    position: relative;
    z-index: 1;
    @include r_max($screen-xs-min) {
      display: none;
    }
  }
}

.results-table {
  max-width: calc-em(650px);
  width: 100%;
  height: calc(100vh - #{$navigation-height});
  max-height: calc(100vh - #{$navigation-height});
  @include flex(0 0 auto);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  @include display(flex);
  @include flex-direction(column);

  header {
    @include flex(0 0 auto);
    padding: calc-em(20px);
    display: table;
    width: 100%;
    .title {
      display: inline-block;
      font-weight: 600;
    }
    .results-count {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }
}

.results-filters {
  @include flex(0 0 auto);
  background: $color-light-grey;
  padding: calc-em(20px);
  font-weight: 600;
  color: $color-grey;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  li {
    display: inline-block;
    margin-right: calc-em(15px);
    .filters-button {
      color: $color-grey;
      border: 1px solid $color-medium-grey;
      background: $color-white;
      border-radius: 4px;
      padding: calc-em(8px) calc-em(12px);
      text-decoration: none;
      &:hover {
        opacity: 0.35;
      }
      &.disabled {
        opacity: 0.35;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.results-table-body {
  overflow: scroll;
  @include flex(1 1 auto);
}

.results-table-entry {
  @include transition(all 200ms);
  border-left: calc-em(7px) solid $color-white;
  &:hover {
    border-left: calc-em(7px) solid $color-brand;
  }
  & > a {
    @include display(flex);
    &:hover {
      text-decoration: none;
    }
  }
}

.entry-photo-rating {
  @include flex(0 0 auto);
  width: calc-em(120px);
  padding: calc-em(25px) calc-em(15px) calc-em(25px) calc-em(13px);

  .entry-img {
    width: 100%;
    @include aspect-ratio(1, 1);
    border-radius: 4px 4px 0 0;
    background: $color-light-grey;
  }

  .entry-rating {
    width: 100%;
    border-radius: 0 0 4px 4px;
    text-align: center;
    padding: calc-em(5px) 0;
    color: $color-white;
    &.excellent {
      background: $color-green;
    }
    &.above-average {
      background: $color-green-yellow;
    }
    &.average {
      background: $color-orange;
    }
    &.below-average {
      background: $color-red;
    }
    i {
      display: inline-block;
      margin-right: calc-em(5px);
    }
    span {
      display: inline-block;
      @extend .font-size-default;
      font-weight: 700;
    }
  }
}

.entry-details {
  padding: calc-em(25px) calc-em(20px) calc-em(25px) 0;
  @include flex(1 1 auto);
  color: $color-grey;

  .entry-title {
    color: $color-brand;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.4em;
    text-align: left;
    margin-right: -1em;
    padding-right: 1em;
  }

  .entry-organization {
    padding: calc-em(3px) 0;
  }

  .entry-meta {
    @extend .font-size-small;
    padding: 0 0 calc-em(10px) 0;
  }

  .entry-actions {
    border-top: 1px solid $color-light-grey;
    padding-top: calc-em(10px);
  }
}

.quote {
  background: $color-brand-verylight;
  border-radius: 4px;
  padding: calc-em(10px);
  @extend .flex-row-left;
  margin-bottom: calc-em(10px);
}

.quote-img {
  @include aspect-ratio(1, 1);
  width: calc-em(36px);
  height: calc-em(36px);
  background: $color-light-grey;
  border-radius: 4px;
  @include flex(0 0 auto);
  margin-right: 8px;
}

.quote-meta {
  @extend .font-size-small;
  margin-bottom: calc-em(1px);
}
.quote-text {
  @extend .font-size-default;
  color: $color-dark-grey;
}

.pagination {
  padding: calc-em(30px) calc-em(20px);
  .pagination-count {
    @extend .font-size-small;
    color: $color-grey;
    margin-bottom: calc-em(10px);
  }
}
