
.resourcetable_main {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #ffffff;
	border-radius: 4px;
	border: solid 1px #dddddd;

	.resourcetable_container, .resourcetable_map {
	  display: inline-block;
	  float: left;
	  width: 50%;
	}

}

.resourcetable_entry {
	border: 1px solid black;
	color: #111;

	img {
	  float: left;
	  border-radius: 5px;
	  margin: 10px;
	}

	.resourcetable_name {
	  font-family: OpenSans-Bold;
	  font-size: 16px;
	  color: #116eea;
	  float: left;
	}

	.resourcetable_address {
	  font-family: OpenSans;
		font-size: 14px;
		color: #818181;
	}

}

.resourcetable_entry:hover {
	background-color: $darcell-gray;
	cursor: pointer;
}

.resourcetable_preheader {
	width: 630px;
	height: 70px;

	span {
	  float: right;
	}

	.resourcetable_title {
	  width: 234px;
		height: 33px;
		font-family: OpenSans-Bold;
		font-size: 24px;
		color: #818181;
	}
}

.resourcetable_buttons {;
	width: 630px;
	height: 3em;
	background-color: #f2f2f2;

	ul {
		list-style: none;
		padding: 1em;

		li {
		  display: inline;
		  padding: 1em;
		  font-family: OpenSans-Bold;
			font-size: 14px;
			color: #818181;
		}
	}
}

.resourcetable_tableheader p {
	font-family: HelveticaNeue-Bold;
	font-size: 14px;
	line-height: 2.6;
	color: #000000;
}

.resourcetable_closed {
	color: red;
}