
.resourcetable_main {
	font-family: OpenSans;

	.resourcetable_filter li{
	  margin: 1em;
	}
}

.resourcetable_entry {
	border-bottom: 1px solid #474747;
	color: #111;
	font-family: OpenSans;

	img {
	  margin: 10px;
	  border-radius: 4px;
	}

	.resourcetable_general_info {
	  div {
      display: block;
	  }
	}

	.resourcetable_name {
	  margin-top: 10px;
	  font-weight: bold;
	  font-size: 16px;
	  color: #116eea;
	  float: left;
	}

	.resourcetable_address {
		font-size: 14px;
		color: #818181;
		clear: left;
	}

	.resourcetable_reviewbox {
	  width: 3em;
	  height: 2em;
	  color: #fff;
    padding-top: 0.5em;
    margin-top: 10px;
	  background-color: #aeca0d;
	  border-radius: 4px;
	}

	.resourcetable_subtext p {
	  height: 19px;
	  font-size: 14px;
		color: #474747;
		margin-left: 10px;
		display: block;
	}

	button {
	  font-weight: bold;
	}

}

resourcetable_hours:hover {
	  text-decoration: none;
	}

.resourcetable_entry:hover {
	border: 1px solid #000;
	cursor: pointer;
	text-decoration: none;
}

.resourcetable_preheader {
  padding-top: 15px;
	.resourcetable_title {
		font-family: OpenSans-Bold;
		font-size: 24px;
		color: #818181;
	}
}

.resourcetable_filter {
	height: 3em;
	background-color: #f2f2f2;

	ul {

		li {
		  font-family: OpenSans-Bold;
			font-size: 14px;
			color: #818181;
			&:hover {
			  cursor: pointer;
			  border: 1px solid #818181;
		  }
		}
	}
}

.resourcetable_tableheader p {
	font-family: HelveticaNeue-Bold;
	font-size: 14px;
	line-height: 2.6;
	color: #000000;
}

.resourcetable_closed {
	color: red;
}

.col-md-5 {
	padding: 0;
}

.row {
	margin: 0;
}

.container-fluid {
	padding: 0;
	div {
	    padding-right: 0;
	    padding-left: 0;
	    div {
	      padding: 0;
	    }
	  }
}