
.resourcetable_main {
	border: solid 1px #dddddd;

	.container-fluid {
	  div {
	    padding: 0;
	    div {
	      padding: 0;
	    }
	  }
	}
}

.resourcetable_entry {
	border: 1px solid black;
	color: #111;

	img {
	  border-radius: 5px;
	  margin: 10px;
	}

	.resourcetable_general_info {
	  div {
      display: block;
	  }
	}

	.resourcetable_name {
	  font-family: OpenSans-Bold;
	  font-size: 16px;
	  color: #116eea;
	  float: left;
	}

	.resourcetable_address {
	  font-family: OpenSans;
		font-size: 14px;
		color: #818181;
		clear: left;
	}

	.resourcetable_subtext p {
	  font-family: OpenSans;
	  height: 19px;
	  font-size: 14px;
		color: #474747;
		margin-left: 10px;
		display: block;
	}

}

.resourcetable_entry:hover {
	background-color: $darcell-gray;
	cursor: pointer;
}

.resourcetable_preheader {
	.resourcetable_title {
		font-family: OpenSans-Bold;
		font-size: 24px;
		color: #818181;
	}
}

.resourcetable_filter {
	height: 3em;
	background-color: #f2f2f2;

	ul {

		li {
		  font-family: OpenSans-Bold;
			font-size: 14px;
			color: #818181;
		}
	}
}

.resourcetable_tableheader p {
	font-family: HelveticaNeue-Bold;
	font-size: 14px;
	line-height: 2.6;
	color: #000000;
}

.resourcetable_closed {
	color: red;
}

.col-md-5 {
	padding: 0;
}

.row {
	margin: 0;
}