/*
 * Colors
 * ========================================================================== */

$white-base: hsl(255, 255, 255);
$gray-darker: #222;        /* color(black lightness(+13.5%)) */
$gray-dark: #404040;       /* color(black lightness(+25%)) */
$gray: #555;               /* color(black lightness(+33.5%)) */
$gray-light: #777;         /* color(black lightness(+46.7%)) */
$gray-lighter: #eee;       /* color(black lightness(+93.5%)) */

$darcell-light-blue: #337ab7;
$darcell-blue: #3b5999;
$darcell-gray: #f5f5f5;
$icon-light-blue: #4d8ffb;
$icon-light-gray: #b1b1b1;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
